[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
basilica = "*"
python-dotenv = "*"
requests = "*"
tweepy = "*"
sklearn = "*"
scikit-learn = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
