<!-- web_app/templates/new_tweets.html -->
{% extends "layout.html" %}
{% set active_page = "new_tweets" %}

{% block content %}

    <h1>New Tweet Page</h1>

    <p>Please fill out the form and submit to create a new crypto Tweet!</p>

    <form action="/tweets/create" method="POST">

        <label>Tweet:</label>
        <input type="text" name="tweet info" placeholder="Tweet about Crypto" value="Tweet about Crypto">

        <label>Twitter User:</label>
        <select name="Twitter Account">
          <option value="Ethereum">Eth Bull</option>
          <option value="Bitcoin">Bitcoin Bull</option>
          <option value="Crypto">Other Crypto</option>
        </select>

        <button>Submit</button>
    </form>
    
{% endblock %}
